<style>
    body {
        color: #333;
        font-size: 12px;
        line-height: 18px;
    }

    .info {
        overflow: hidden;
        width: 100%;
        word-wrap: break-word;
    }

    .date {
        font-weight: bold;
        padding: 10px 5px 5px 5px;
    }

    .item {
        padding-left: 10px;
    }

    .item span {
        padding-right: 5px;
    }
</style>

<div class="date">日期：<%= Time.now.strftime('%Y/%m/%d') %></div>
<% @users_today.each do |user| %>
    <div class="item"><%= user.name %>：
      <% histories = user.histories_today %>
      <% if histories.length <= 2 %>
          <% histories.each do |history| %>
              <span><%= history.created_at.strftime('%H:%M:%S') %></span>
          <% end %>
      <% else %>
          <span><%= histories.first.created_at.strftime('%H:%M:%S') %></span>
          <span><%= histories.last.created_at.syutime('%H:%M:%S') %></span>
      <% end %>
    </div>
<% end %>

<div class="date">日期：<%= (Time.now - 1.days).strftime('%Y/%m/%d') %></div>
<% @users_yesterday.each do |user| %>
    <div class="item"><%= user.name %>：
      <% histories = user.histories_yesterday %>
      <% if histories.length <= 2 %>
          <% histories.each do |history| %>
              <span><%= history.created_at.strftime('%H:%M:%S') %></span>
          <% end %>
      <% else %>
          <span><%= histories.first.created_at.strftime('%H:%M:%S') %></span>
          <span><%= histories.last.created_at.strftime('%H:%M:%S') %></span>
      <% end %>
    </div>
<% end %>
